     {{>header}}
     <div id="main" class="container">
       <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-3 form-control-lg" placeholder="Enter a City">
      <button class="btn btn-outline-danger my-2 btn-lg px-4 my-sm-0" type="submit">Search</button>
    </form>
     <p id="msg-1" class="h5 my-5"></p>
    </div>

     {{>footer}}
 